<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332981986970-2bf2026b4at1u9h86gqvdl02va9qltto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332981986970-2bf2026b4at1u9h86gqvdl02va9qltto</string>
	<key>API_KEY</key>
	<string>AIzaSyB_xFJMYFv2XOKPkorAEqsCCo4u5OfLl1s</string>
	<key>GCM_SENDER_ID</key>
	<string>332981986970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>note-app-f1e57</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-f1e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332981986970:ios:ba2334e6875f60edc92123</string>
</dict>
</plist>